<form #bugEditForm="ngForm">
  <div class="form-group">
    <label for="title">{{'BUG_UPDATE.Title' | translate}}</label>
    <input
      required
      class="form-control"
      id="title"
      name="title"
      ngModel
      #title="ngModel"
      [(ngModel)]="bug.title"
      maxlength="50"
    >
    <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
      <div *ngIf="title.errors.required">{{'BUG_UPDATE.NotBlank' | translate}}</div>
    </div>
  </div>

  <div class="form-group">
    <label for="description">{{'BUG_UPDATE.Description' | translate}}</label>
    <input
      required
      class="form-control"
      id="description"
      name="description"
      maxlength="250"
      ngModel
      #description="ngModel"
      [(ngModel)]="bug.description"
    >
    <div class="alert alert-danger"
         *ngIf="description.touched && description.invalid">
      <div *ngIf="description.errors.required">{{'BUG_UPDATE.NotBlank' | translate}}</div>
      <div *ngIf="description.hasError('maxlength')">
        {{'BUG_CREATE.MaxLength250' | translate}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="version">{{'BUG_UPDATE.Version' | translate}}</label>
    <input
      required
      class="form-control"
      id="version"
      name="version"
      ngModel
      #version="ngModel"
      pattern="(^[0-9a-zA-Z]{1,2}[.]{1}[0-9a-zA-Z]{1,2}){1}([.]{1}[0-9a-zA-Z]{0,2}){0,1}"
      [(ngModel)]="bug.version"
      maxlength="5"
    >
    <div class="alert alert-danger"
         *ngIf="version.touched && version.invalid">
      <div *ngIf="version.errors.required">{{'BUG_UPDATE.NotBlank' | translate}}</div>
      <div *ngIf="version.errors">
        {{'BUG_UPDATE.VersionValidation' | translate}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="fixedVersion">{{'BUG_UPDATE.FixedVersion' | translate}}</label>
    <input
      class="form-control"
      id="fixedVersion"
      name="fixedVersion"
      ngModel
      #fixedVersion="ngModel"
      pattern="(^[0-9a-zA-Z]{1,2}[.]{1}[0-9a-zA-Z]{1,2}){1}([.]{1}[0-9a-zA-Z]{0,2}){0,1}"
      [(ngModel)]="bug.fixedVersion"
      maxlength="5"
    >
    <div class="alert alert-danger"
         *ngIf="fixedVersion.touched && fixedVersion.invalid">
      <div *ngIf="version.errors">
        {{'BUG_UPDATE.VersionValidation' | translate}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="targetDate">{{'BUG_UPDATE.TargetDate' | translate}}</label>
    <input
      required
      type="date"
      class="form-control"
      id="targetDate"
      name="targetDate"
      min="{{todayDate | date:'yyyy-MM-dd'}}"
      ngModel
      #targetDate="ngModel"
      [(ngModel)]="bug.targetDate"
    >
    <div class="alert alert-danger"
         *ngIf="targetDate.touched && targetDate.invalid">
      <div *ngIf="targetDate.errors.min">{{'BUG_UPDATE.DateValidation' | translate}}</div>
      <div *ngIf="targetDate.errors">{{'BUG_UPDATE.DateValidationInvalid' | translate}}</div>
    </div>
  </div>

  <div class="form-group">
    <label for="severity">{{'BUG_UPDATE.Severity' | translate}}</label>
    <select
      required
      class="form-control"
      id="severity"
      name="severity"
      #severity="ngModel"
      [(ngModel)]="bug.severity"
    >
      <option value="CRITICAL">{{'BUG_UPDATE.SeverityCritical' | translate}}</option>
      <option value="HIGH">{{'BUG_UPDATE.SeverityHigh' | translate}}</option>
      <option value="MEDIUM">{{'BUG_UPDATE.SeverityMedium' | translate}}</option>
      <option value="LOW">{{'BUG_UPDATE.SeverityLow' | translate}}</option>
    </select>
    <div class="alert alert-danger"
         *ngIf="severity.touched && severity.invalid">
      <div *ngIf="severity.errors">{{'BUG_UPDATE.NotBlank' | translate}}</div>
    </div>
  </div>

  <div class="form-group">
    <label for="CREATED_ID">{{'BUG_UPDATE.CreatedBy' | translate}}</label>
    <input
      required
      class="form-control"
      id="CREATED_ID"
      name="CREATED_ID"
      disabled
      #created_ID="ngModel"
      [(ngModel)]="bug.CREATED_ID.username"
    >
  </div>

  <div class="form-group">
    <label for="status">{{'BUG_UPDATE.Status' | translate}}</label>
    <br>
    <p-dropdown
      id="status"
      name="status"
                ngModel
                optionLabel="value"
      #status="ngModel"
                [(ngModel)]="selectedStatus"
                [options]="newStatusValues"
      (onClick)="selectStatus()"
      [disabled]="noStatusAvailable"
      [style]="{'width': '100%'}">
    </p-dropdown>
    <br>
    <p *ngIf="noStatusAvailable">{{'BUG_UPDATE.NoStatusAvailable' | translate}}</p>
  </div>

  <div class="form-group">
    <label for="ASSIGNED_ID">{{'BUG_UPDATE.AssignedTo' | translate}}</label><br>
    <select
      required
      class="form-group"
      id="ASSIGNED_ID"
      name="ASSIGNED_ID"
      [(ngModel)]="bug.ASSIGNED_ID"
      [style]="{'width':'40%'}"
    >
      <option
        class="form-group"
        *ngFor="let user of listOfUsers" [ngValue]="user">
        {{user.username}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>{{'BUG-CREATE.Attachment' | translate}}</label>
    <div class="input-group">
      <input
        class="form-control"
        id="attachment"
        name="attachment"
        type="file"
        accept="image/jpeg,image/jpg,image/png,.pdf,.doc,.odf,.xlsx,.xls"
        size="25MB"
        ngModel
        #att
        (ngModelChange)="log(att.value.toString().substr(12))"
      >
    </div>
  </div>

  <div class="form-group">
    <div *ngFor="let att of bugAttachments">
      {{att}} <button (click)="deleteAttachment(att)">Delete</button>
    </div>
  </div>

  <div class="form-group">
    <button
      class="form-control"
      type="submit"
      [disabled]="bugEditForm.invalid || !bugEditForm.touched"
      (click)="editBug(bugEditForm)">
      {{'BUG_UPDATE.Update' | translate}}
    </button>
  </div>
</form>
