<body>
<form class="getBugStyle" ngForm
      [style]="{'position' : 'relative','left': '0','top': '200', 'vertical-align': 'middle'}">

  <kendo-pdf-export #pdf paperSize="A4" margin="2cm">

    <table class="table table-hover ">
      <tbody>
      <tr>
        <td>{{'BUG_VIEW.TITLE' | translate}}</td>
        <td>{{returnedBug.title}}</td>
      </tr>
      <tr>
        <td>{{'BUG_VIEW.DESCRIPTION' | translate}}</td>
        <td>{{returnedBug.description}}</td>
      </tr>
      <tr>
        <td>{{'BUG_VIEW.VERSION' | translate}}</td>
        <td>{{returnedBug.version}}</td>
      </tr>
      <tr>
        <td>{{'BUG_VIEW.TARGET_DATE' | translate}}</td>
        <td>{{returnedBug.targetDate}}</td>
      </tr>
      <tr>
        <td>{{'BUG_VIEW.STATUS' | translate}}</td>
        <td>{{returnedBug.status}}</td>
      </tr>
      <tr>
        <td>{{'BUG_VIEW.FIXED_VERSION' | translate}}</td>
        <td>{{returnedBug.fixedVersion}}</td>
      </tr>
      <tr>
        <td>{{'BUG_VIEW.SEVERITY' | translate}}</td>
        <td>{{returnedBug.severity}}</td>
      </tr>
      <tr>
        <td>{{'BUG_VIEW.CREATED_BY' | translate}} </td>
        <td>{{returnedBug.created_ID}}</td>
      </tr>
      <tr>
        <td>{{'BUG_VIEW.ASSIGNED_TO' | translate}} </td>
        <td>{{returnedBug.assigned_ID}}</td>
      </tr>
      <tr>
        <td>{{'BUG_VIEW.ATTACHMENTS' | translate}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>

  </kendo-pdf-export>

  <button kendo-button *ngIf="currentUserHasBUG_EXPORT_PDF()"
          (click)="pdf.saveAs('bug.pdf')">{{'BUG_VIEW.DOWNLOAD' | translate}} PDF
  </button>

  <button class="btn btn-primary"
          href="http://localhost:4200/dashboard/notifications/view">{{'BUG_VIEW.BACK' | translate}}</button>

</form>
</body>
