/* Header/Logo Title */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body,
section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background {
  background-image: linear-gradient(
      black 0%,
      #002a38 100%
  );
  padding: 4px;
  text-align: right;
  font-size: 20px;
}

.hover {
  width: 100%;
  height: 100%;
  animation: hover 5s ease-in-out infinite;
  animation-fill-mode: forwards;
  color: white;
}

.header {
  padding: 10px;
  text-align: right;
  background: #3890bc;
  color: white;
  font-size: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border: 2px solid #394499;;
  border-radius: 4px;
}

.title {
  padding-top: 30px;
  padding-right: 200px;
  font: 700 60px 'Bitter';
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: right;
  color: white;
}
