<form #loginForm='ngForm' (ngSubmit)="submit(loginForm)">

  <h1>
    LOGIN
  </h1>

  <div>
    <label for="username">Username</label>
    <input
      required
      class="form-control"
      type="text"
      id="username"
      name="username"
      ngModel
      #username="ngModel"
      (ngModelChange)="log(username)"
    >
    <div class="alert alert-danger" *ngIf="username.touched && username.invalid">
      <div *ngIf="username.errors.required">
        Username is required.
      </div>
    </div>

    <label for="password">Password</label>
    <input
      required
      class="form-control"
      type="password"
      id="password"
      name="password"
      ngModel
      #password="ngModel"
      (ngModelChange)="log(password)"
    >
    <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
      <div *ngIf="password.errors.required">
        Password is required.
      </div>
    </div>

  </div>


  <p>
    {{loginForm.value | json}}
  </p>

  <button class="btn btn-primary"
          (click)="login(loginForm)"
          [disabled]="loginForm.invalid">LOGIN
  </button>

  <div class="container" style="background-color:#f1f1f1">
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
