<form #bugCreateForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="bugTitle">Title</label>
    <input
      class="form-control"
      id="bugTitle"
      name="bugTitle"
      ngModel
      required
      #bugTitle="ngModel"
    >
    <div class="alert alert-danger" *ngIf="bugTitle.touched && bugTitle.invalid">
      <div *ngIf="bugTitle.errors.required">Can not be blank</div>
    </div>
  </div>

  <div class="form-group">
    <label for="bugDescription">Description</label>
    <input
      class="form-control"
      id="bugDescription"
      name="bugDescription"
      minlength="250"
      ngModel
      required
      #bugDescription="ngModel"
    >
    <div class="alert alert-danger" *ngIf="bugDescription.touched && bugDescription.invalid">
      <div *ngIf="bugDescription.errors.required">Can not be blank.</div>
      <div *ngIf="bugDescription.errors.minlength">
        Description must be a minimum of {{bugDescription.errors.minlength.requiredLength}} characters.<br>
        There are currently only {{bugDescription.errors.minlength.actualLength}} characters.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="bugVersion">Version</label>
    <input
      class="form-control"
      id="bugVersion"
      name="bugVersion"
      ngModel
      required
      #bugVersion="ngModel"
      pattern="[a-zA-Z0-9.]+"
    >
    <div class="alert alert-danger" *ngIf="bugVersion.touched && bugVersion.invalid">
      <div *ngIf="bugVersion.errors.required">Can not be blank.</div>
      <div *ngIf="bugVersion.errors.minlength">
        Version must include only alphanumeric characters split by dots.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="bugVersionFixed">Fixed In Version</label>
    <input
      class="form-control"
      id="bugVersionFixed"
      name="bugVersionFixed"
      ngModel
      disabled
      #bugVersionFixed="ngModel"
    >
  </div>

  <div class="form-group">
    <label for="bugTargetDate">Target Date</label>
    <input
      type="date"
      class="form-control"
      id="bugTargetDate"
      name="bugTargetDate"
      min="{{todayDate | date:'yyyy-MM-dd'}}"
      ngModel
      #bugTargetDate="ngModel"
    >
    <div class="alert alert-danger" *ngIf="bugTargetDate.touched && bugTargetDate.invalid">
      <div *ngIf="bugVersion.errors.min">Can not be a day before today.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="bugSeverity">Severity</label>
    <select
      class="form-control"
      id="bugSeverity"
      name="bugSeverity"
      required
      ngModel
      #bugSeverity="ngModel"
    >
      <option value="critical">Critical</option>
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
    <div class="alert alert-danger" *ngIf="bugSeverity.touched && bugSeverity.invalid">
      <div *ngIf="bugVersion.errors">Must not be blank</div>
    </div>
  </div>

  <div class="form-group">
    <label for="bugCreatedBy">Created By</label>
    <input
      class="form-control"
      id="bugCreatedBy"
      name="bugCreatedBy"
      required
      ngModel
      #bugCreatedBy="ngModel"
      disabled
    >
  </div>

  <div class="form-group">
    <label for="bugStatus">Status</label>
    <input
      class="form-control"
      id="bugStatus"
      name="bugStatus"
      required
      disabled
      [(ngModel)]="bugStatus"
    >
  </div>

  <div class="form-group">
    <label for="bugAssignedTo">Assign To</label><br>
    <select
      class="form-group"
      id="bugAssignedTo"
      name="bugAssignedTo"
    >
      <option
        class="form-group"
        *ngFor="let user of users" [value]=user.id>
        {{user.username}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>Attachment</label>
    <div class="input-group">
      <input
        class="form-control"
        id="bugAttachment"
        name="bugAttachment"
        type="file"
        accept=".pdf,.doc,.odf,.xlsx,.xls"
      >
    </div>
  </div>

  <div class="form-group">
    <button
      class="form-control"
      type="submit"
      [disabled]="!bugCreateForm.valid"
    >
      Submit
    </button>
  </div>

</form>
