<form #bugViewForm='ngForm' ngForm [style]="{'position' : 'relative','left': '0','top': '200', 'vertical-align': 'middle'}">
  <p-table #dt [style]="{'width': '135%'}" [columns]="columns" [value]="bugsView" [paginator]="true" [rows]="25"
           selectionMode="single" [(selection)]="selectedBug1" dataKey="title">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i style="margin:4px 4px 0 0"></i>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">
          <p *ngSwitchCase="'title'">{{'BUG_VIEW.TITLE' | translate}}</p>
          <p *ngSwitchCase="'version'">{{'BUG_VIEW.VERSION' | translate}}</p>
          <p *ngSwitchCase="'fixedVersion'">{{'BUG_VIEW.FIXED_VERSION' | translate}}</p>
          <p *ngSwitchCase="'severity'">{{'BUG_VIEW.SEVERITY' | translate}}</p>
          <p *ngSwitchCase="'status'">{{'BUG_VIEW.STATUS' | translate}}</p>
          <p *ngSwitchCase="'created_ID'">{{'BUG_VIEW.CREATED_BY' | translate}}</p>
          <p *ngSwitchCase="'targetDate'">{{'BUG_VIEW.TARGET_DATE' | translate}}</p>
          <p *ngSwitchCase="'assigned_ID'">{{'BUG_VIEW.ASSIGNED_TO' | translate}}</p>
          <p-sortIcon [field]="col.field" ariaLabel="Active to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          <button (click)="dt.reset()" [hidden]="!targetDateColumn(col.field)">Clear Date</button>
        </th>
      </tr>

      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'title'" pInputText type="text" (input)="dt.filter($event.target.value.toLowerCase(), col.field.toLowerCase(), 'contains')">
        <p-multiSelect *ngSwitchCase="'severity'" [options]="severityFilter" defaultLabel="All"
                         (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
          <p-multiSelect *ngSwitchCase="'status'" [options]="statusFilter" defaultLabel="All"
                         (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
          <p-multiSelect *ngSwitchCase="'created_ID'" [options]="userFilter" defaultLabel="All"
                         (onChange)="dt.filter($event.value, col.field, 'equals')"></p-multiSelect>
          <p-multiSelect *ngSwitchCase="'assigned_ID'" [options]="userFilter" defaultLabel="All"
                         (onChange)="dt.filter($event.value, col.field, 'equals')"></p-multiSelect>
          <p-dropdown *ngSwitchCase="'version'" [options]="versionFilter"
                      (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>
          <p-dropdown *ngSwitchCase="'fixedVersion'" [options]="fixedVersionFilter"
                      (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-dropdown>

          <p-calendar #cal=ngModel ngModel name="calendar" id="calendar" [style]="{'width': '200%'}" *ngSwitchCase="'targetDate'" [defaultDate]=""
                      [readonlyInput]="false" dateFormat="yy-MM-dd"
                      (onSelect)="dt.filter($event, col.field, 'dateFilter')">

          </p-calendar>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns" (click)="showInfoModal()">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="Info" [(visible)]="displayInfoModal" [modal]="true" [responsive]="true"
            [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
            [maximizable]="true" [baseZIndex]="10000">
    <p class="text-style">{{selectedBug1 ? bugAsString() : 'none'}} </p>
    {{'BUG_VIEW.TITLE' | translate}} : <input type="text" [value]="selectedBug.title"><br>
      {{'BUG_VIEW.DESCRIPTION' | translate}} : <input type="text" [value]="selectedBug.description"><br>
      {{'BUG_VIEW.VERSION' | translate}} : <input type="text" [value]="selectedBug.version"><br>
      {{'BUG_VIEW.TARGET_DATE' | translate}} : <input type="text" [value]="selectedBug.targetDate"><br>
      {{'BUG_VIEW.STATUS' | translate}} : <p-dropdown  [options]="newStatusValues" [style]="{'width': '100%'}" #statusTypes [(ngModel)]="selectedStatus" name="statusTypes"(onClick)="selectStatus()"></p-dropdown>
    {{'BUG_VIEW.FIXED_VERSION' | translate}} : <input type="text" [value]="selectedBug.fixedVersion"><br>
    {{'BUG_VIEW.SEVERITY' | translate}} : <input type="text" [value]="selectedBug.severity"><br>
    {{'BUG_VIEW.CREATED_BY' | translate}} : <input type="text" [value]="selectedBug.created_ID"><br>
    {{'BUG_VIEW.ASSIGNED_TO' | translate}} : <input type="text" [value]="selectedBug.assigned_ID"><br>
    {{'BUG_VIEW.ATTACHMENTS' | translate}} :
  <p class="text-style">
  </p>
  <button pButton label="Update" (click)="modifyBugStatus(selectedStatus); dt.reset()"></button>
  <p-footer>
    <button pButton icon="pi pi-close" (click)="displayInfoModal=false" label="Close" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

  <p-dialog header="Update status" [(visible)]="displayUpdateModal" [modal]="true" [responsive]="true"
            [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
            [maximizable]="true" [baseZIndex]="10000">
    <p>Bug : {{selectedBugTitle}}</p>
    <p-dropdown [options]="newStatusValues"
                #statusTypes
                [style]="{'width': '100%'}"
                id="statusTypes"
                class="form-control"
                (onClick)="selectStatus()">New status: </p-dropdown>
    <p-footer>

      <button pButton icon="pi pi-close" (click)="displayUpdateModal=false" label="Cancel update" class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>
</form>

