/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.userViewStyle {
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

body {
  padding-top: 100px;
  padding-left: 230px;
  text-align: center;
}

h2 {
  color: #394499;
}

.labelStyle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  word-spacing: 1.8px;
}
