<p-table [columns]="cols" [value]="users" selectionMode="single" [(selection)]="selectedUser"
         (onRowSelect)="onRowSelect()" [paginator]="true" [rows]="15">
  <ng-template pTemplate="caption">
    List of Users
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of cols" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="cols">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of cols">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" (click)="addNewUser()" label="Add"></button>
    </div>
  </ng-template>
</p-table>

<p-dialog header="User Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '300px'}">
  <div class="ui-g ui-fluid" *ngIf="selectedUser">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="id">ID</label>
      </div>
      <div class="ui-g-8">
        <label id="id">{{selectedUser.id}}</label>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="firstName">First Name</label>
      </div>
      <div class="ui-g-8">
        <label id="firstName">{{selectedUser.firstName}}</label>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="lastName">Last Name</label>
      </div>
      <div class="ui-g-8">
        <label id="lastName">{{selectedUser.lastName}}</label>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="username">Username</label>
      </div>
      <div class="ui-g-8">
        <label id="username">{{selectedUser.username}}</label>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="email">E-mail</label>
      </div>
      <div class="ui-g-8">
        <label id="email">{{selectedUser.email}}</label>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="mobileNumber">Mobile Number</label>
      </div>
      <div class="ui-g-8">
        <label id="mobileNumber">{{selectedUser.mobileNumber}}</label>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="status">Status</label>
      </div>
      <div class="ui-g-8">
        <label id="status">{{selectedUser.stringStatus}}</label>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="counter">Counter</label>
      </div>
      <div class="ui-g-8">
        <label id="counter">{{selectedUser.counter}}</label>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="roles">Roles</label>
      </div>
      <div class="ui-g-8" *ngIf="selectedUser.roles.length === 0">
        <label id="no_role">(No role assigned)</label>
      </div>
      <div class="ui-g-8">
        <div *ngFor="let role of selectedUser.roles">
          <label id="roles">{{role.type}}</label>
        </div>
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="edit()" label="Edit"></button>
      <button type="button" pButton icon="fa fa-close" (click)="ok()" label="OK"></button>
    </div>
  </p-footer>
</p-dialog>
