/* Header/Logo Title */
@import "~bootstrap/dist/css/bootstrap.min.css";
div {
  padding: 10px;
  text-align: right;
  background: #3890bc;
  color: #394499;
  font-size: 20px;
}

.title {
  text-align: center;
}
div {
  color: #369;
}
