/* Header/Logo Title */

div {
  padding: 20px;
  text-align: right;
  background: #3890bc;
  color: #394499;
  font-size: 20px;
}

.title {
  text-align: center;
}
div {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
}
