/* Navigation link styles */
@import "~bootstrap/dist/css/bootstrap.min.css";
/* Fixed sidenav, full height */

h2 {
  color: #394499;
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 103px;
  left: 0;
  background: #3881bc;
  overflow-x: hidden;
  padding-top: 20px;
  border: 2px solid #394499;;
  border-radius: 4px;
}

/* Style the sidenav links and the dropdown button */
a {
  //background-color: #22a3bc;
  text-align: center;
  padding: 10px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #394499;
  display: block;
  cursor: pointer;
  outline: none;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
}

a:hover {
  background-color: #ffffff;
}
