<div class="sidenav">
  <h2>{{ 'DASHBOARD.MENU' | translate }}</h2>
  <button class="btn btn-primary btn-block btn-lg border"
          (click)="atLogout()">{{ 'DASHBOARD.LOG_OUT' | translate }}</button>
  <br>
  <div>

    <button *ngIf="!disableUser" class="btn btn-primary btn-outline-light btn-block dropdown-toggle "
            (click)="activeUserButton() ">
      {{ 'DASHBOARD.USERS' | translate }}
    </button>
    <div *ngIf="currentUserButton==true ">
      <div *ngFor="let userButtonContainer of userButtonContainers">
        <a [routerLink]="['users',userButtonContainer.router]">{{ userButtonContainer.translation | translate }}</a>
      </div>
    </div>

    <button *ngIf="!disableBug" class="btn btn-primary btn-outline-light btn-block dropdown-toggle "
            (click)="activeBugButton() ">
      {{ 'DASHBOARD.BUGS' | translate }}
    </button>
    <div *ngIf="currentBugButton==true ">
      <div *ngFor="let bugButtonContainer of bugButtonContainers">
        <a [routerLink]="['bugs',bugButtonContainer.router]">{{ bugButtonContainer.translation | translate }}</a>
      </div>
    </div>

    <button class="dropdown-btn" (click)="activeNotificationsButton()">
      {{ 'DASHBOARD.NOTIFICATION' | translate }}
    </button>
    <div *ngIf="currentNotificationsButton==true ">
      <div *ngFor="let notificationsButtonContainer of notificationsButtonContainers">
        <a
          [routerLink]="['notifications',notificationsButtonContainer.router]">{{notificationsButtonContainer.translation | translate}}</a>
      </div>
    </div>

    <button *ngIf="!disablePermission" class="btn btn-primary btn-outline-light btn-block dropdown-toggle "
            (click)="activePermissionsButton()">
      {{ 'DASHBOARD.PERMISSION' | translate }}
    </button>
    <div *ngIf="currentPermissionsButton==true ">
      <div *ngFor="let permissionsButtonContainer of permissionsButtonContainers">
        <a
          [routerLink]="['permissions',permissionsButtonContainer.router]">{{permissionsButtonContainer.name | translate}}</a>
      </div>
    </div>

  </div>

</div>
