/* Navigation link styles */
@import "~bootstrap/dist/css/bootstrap.min.css";
/* Fixed sidenav, full height */
h2 {
  color: white;
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 8px;
  left: 0;
  background-image: linear-gradient(
      black 0%,
      #002a38 100%
  );
  overflow-x: hidden;
  padding: 20px;
  border-radius: 4px;
}

/* Style the sidenav links and the dropdown button */
a {
  //background-color: #22a3bc;
  text-align: center;
  padding: 10px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  display: block;
  cursor: pointer;
  outline: none;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  font: 700 30px 'Bitter'
}

button {
  font-size: 30px;
}

a:hover {
  background-color: #ffffff;
}
