/*
h1 {
  text-align: center;
}
*/
.capbox {
  background-color: #A9D0F5;
  display: inline-block;
  *display: inline;
  padding: 8px 40px 8px 8px;
  border-radius: 4px;
}

.capbox-inner {
  font: bold 11px arial, sans-serif;
  color: #000000;
  background-color: #eee;
  margin: 5px auto 0px auto;
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#CaptchaDiv {
  font: bold 17px verdana, arial, sans-serif;
  font-style: italic;
  color: #000000;
  background-color: #FFFFFF;
  padding: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#CaptchaInput {
  margin: 1px 0px 1px 0px;
  width: 135px;
}
